## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var1 = 10
print(var1)

10

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))
type(8.5)

<class 'float'>

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(var1)

int

4) Crear una variable que contenga tu nombre

In [ ]:
name = "Miguel"

5) Crear una variable que contenga un número complejo

In [6]:
comp1 = 2 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(comp1)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
R/ No, una es un texto y la otra es un booleano.

In [13]:
cadTexto = "True"
cadTexto2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print(type(cadTexto))
print(type(cadTexto2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
sum1 = 1 + 1.5
print(sum1)

2.5

11) Realizar una operación de suma de números complejos

In [16]:
comp2 = 4 + 2j
sumComp = comp1 + comp2
print(sumComp)

(6+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
print(sum1 + sumComp)

(8.5+5j)

13) Realizar una operación de multiplicación

In [19]:
print(2 * 3)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
print(27 / 4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
resul = ((4 * 6) + 3)
print(resul)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
cadTexto3 = "Soy "
cadTexto4 = "Henry"
sumCadTexto = (cadTexto3 + cadTexto4)
print(sumCadTexto)

Soy Henry

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
R/ estoy comparando un texto con un número

In [34]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
R/ Python utiliza el "punto" como separador decimal.

In [38]:
a = float("3.8")
#a = float("3,8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
var2 = 3
var2 -= 1
print(var2)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
R/ Esta operación mueve el número a la izquierda del operador "<<" >> n de veces hacia la izquierda, lo que cambia su valor, en este caso 0001 cambia por 0100. Sistema de numeración que se basa en dos valores, "1" y "0" (niveles de voltaje: 1--> encendido, 0--> apagado). A partir de estos dos valores se construye todo el sistema numérico. Es el sistema utilizado por los equipos informáticos y electrónicos.

In [43]:
print(1 << 2)
1 * 2 ** 2

4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
R/ no está permitido porque estoy operando una cadena de texto y un número. No necesariamente se va a entregar siempre el mismo resultado, por ejemplo, si sumo dos cadenas de texto '2', obtendría como resultado '22' y no 4

In [1]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [3]:
entero = 2
texto = 'Quiero ser data scientist '
resultado = entero * texto
print(resultado)

Quiero ser data scientist Quiero ser data scientist